[Unit]
Description=VM Info Webserver
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/vm-info-server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target